<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dango.unit.tap.core">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="33" />

    <application>
        <provider
            android:name="com.dango.unit.tap.core.internal.TapCoreInitProvider"
            android:authorities="${applicationId}.TapSDKInitProvider"
            android:exported="false" />
    </application>
</manifest>